:root {
    --color-base: #eed3c7;
    --color-slate: #232323;
    --color-light: #dddbd7;
    --size-300: 0.8rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 1.56rem;
    --size-700: 1.95rem;
    --size-800: 2.44rem;
    --size-900: 3.05rem;
    --size-max: 4rem;
    --size-contain: 60rem;
    --font-base: Georgia, serif;
    /* --font-lobster: "Lobster", cursive; */
  }

  body {
    font-family: var(--font-base);
    background: var(--color-base);
    color: var(--color-slate);
    line-height: 1.5;
    padding: var(--size-700) var(--size-500);
  }  

  h1 {
    font-family: var(--font-lobster);
    font-size: 6rem;
  }
  
  h2 {
    font-family: var(--font-lobster);
    font-size: var(--size-900);
  }
  
  h2:first-child {
    padding-top: var(--size-900);
  }
  
  h1 + h2 {
    --flow-space: var(--size-300);
  
    font-weight: bold;
    font-style: italic;
    font-size: var(--size-600);
    font-family: var(--font-base);
    max-width: 30ch;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }

  h3{
    font-size: 22px;
    text-decoration: underline;
  }
  
  p,
  li {
    max-width: 65ch;
  }

  ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:flex;
    justify-content: center;
  }
  
  
  ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid transparent; 
  }
  
  ul.nav li a:hover {
    background-color: #111;
    border-width: 2px;
    border-color: antiquewhite;
    border-style: dotted;
  }

  ul.nav li a.active {
    background-color: #dc6291;
    font-weight: bold;
    color: rgb(0, 0, 0);
    /* text-decoration: underline; */
    border-color: antiquewhite;
  }


  .hide_this {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .hide_this:focus {
    position: static;
    width: auto;
    height: auto;
  }

  img {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
  }


div.bacon-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0px;
    /* grid-auto-rows: 246px; */

}

.bacon-photos img{
  justify-content: center;
  margin: 8px;
  overflow: hidden;
}

.zucchini_images{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.zucchini_images img{
  margin: 5px;
}

.make_small{
  width: 350px;
  justify-content: center;
}

.make_small2{
  width: 350px;
  justify-content: center;
  margin: 0 auto;
}

.make_small3 img{
  width: 180px;
}

.main_pic{
  display:grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.travel_pic{
  display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.travel_pic img {
  max-width: 100%;
  width: 340px;
  height: auto;
  display: block;
  margin: 5px;
}

video{
  border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
    width: 180px;
    margin: 8px;
    overflow: hidden;
    
}

@media (prefers-reduced-motion: reduce) {
  .gif{
    display: none;
  }
}

@media only screen and (min-width: 601px){
  
  div.bacon-photos {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;

    /* grid-auto-rows: 246px; */
}

.bacon_text_flex{
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
}


.main_pic{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  float: left; 
  margin: 0 20px 20px 0; 
}

img {
  border-radius: 10px;
}



.main_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.zucchini_images img {
  width: 270px;
  margin: 10px;
}

.swed_pancake img{
  height: 400px;
}

.peddie_imgs img{
  height: 200px;
  width: 255px;
}
.cody_imgs img{
  height: 300px;
  width: 255px;
}

.zucchini_images, .swed_pancake{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



/* slideshow stuff */
.slideshow {
  overflow: hidden;
  width: 300px; 
  height: 200px; 
  position: relative;
} 


.pause-play-btn {
  position: relative;
  bottom: 0px; 
  /* left: 50%; */
  transform: translateX(-50%); 
  z-index: 1; 
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}



.slide-track {
  display: flex;
  animation: scroll 60s linear infinite;
}

.slide-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%); /*Adjust this value based on the number of images ???? HOW WHY WHAT*/
  }
} 

/* modeal image stuff 1*/
#Monteverde_main {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#Monteverde_main:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



.travel_pic{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}




@media (prefers-reduced-motion: reduce) {
  .gif{
    display: none;
  }
  .modal {
    display: none !important;
  }

  slide-track {
    animation: none !important;
  }
}
}


@media only screen and (min-width: 992px){
  body{
    background-color: aliceblue;
  }


  
  #main div{
    font-size: 20px;
  }


  ul.nav{
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
  }


/* HOME PAGE */
.main_home{

  margin: 0 auto;
  padding: 40px;
}

/* PETS PAGE */
div.bacon-photos {
  justify-content: space-around;
}

.h3_pet{
  width: 200px;
  margin: 0 auto;
}
.p1 {
  margin: 10px;
}

.head2{
  left: 25px;
}

.pet_text{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 
}

#Bacon_q{
  grid-area: image1;
  position: relative;
  right: 10px;
  top: -10px;
}

img{
  max-width: 100%;
  height: auto;
}

.pet1_grid{
  height:340px;
  justify-content: center;
}

/* FLIP CARDDDD */
/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 356px;
  height: 239px;
  /* border: 5px solid #4e4e4e; */
  border-radius: 7px;
  perspective: 1000px; 
}

/* position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Style the front side and fallback if image is missing */
.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 7px;
  width: 350px;
}

/* Style the back side */
.flip-card-back {
  background-color: #fe8ec4;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  transform: rotateY(180deg);
  height: 325px;
}

.card-likes{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

/* FLIP CARD PEDDIE */
.flip-card1{
  background-color: transparent;
  width: 356px;
  height: 239.33px;
  /* border: 5px solid #4e4e4e; */
  border-radius: 7px;
  perspective: 1000px; 
}

/* This container is needed to position the front and back side */
.flip-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/*horizontal flip */
.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front1, .flip-card-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Style the front side and fallback if image is missing*/
.flip-card-front1 {
  background-color: #bbb;
  color: black;
  border-radius: 7px;
  width: 350px;
}

/* Style the back side */
.flip-card-back1 {
  background-color: #fe8ec4;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  transform: rotateY(180deg);
  /* height: px; */
}

.card-likes1{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

/* FLIP CARD CODY */
.flip-card2{
  background-color: transparent;
  width: 346.2px;
  height: 459.69px;
  /* border: 5px solid #4e4e4e; */
  border-radius: 7px;
  perspective: 1000px; 
}

/* This container is needed to position the front and back side */
.flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

/* Style the front side and fallback if image is missing */
.flip-card-front2 {
  background-color: #bbb;
  color: black;
  border-radius: 7px;
}

/* Style the back side */
.flip-card-back2 {
  background-color: #fe8ec4;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  transform: rotateY(180deg);

}

.card-likes2{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

/* end of flip cards */

h2{
  display: inline;
  text-align: center;
}

.head2{
  display: inline;
 text-align: center;
}

.pet_text2{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.pet_text3{
  display:grid;
  grid-template-columns: 1fr 1fr;
  height:480px;
}

p{
  font-size:18px;
}

h3{
  font-size:30px;
}

ul{
  font-size:20px;
}

.p1{
  justify-self: center;
  align-self: center;
}

.flip-card2{
  justify-self: center;
  align-self: center;
}
/* RECIPIES PAGE */
#main.all_recipes{
  text-align: unset;
  left: 0%;
}

.rec_1{
  display:grid;
 
  margin: 0 auto;
}

.rec_2{
  display:grid;
  margin: 0 auto;
}

.rec_3{
  display:grid;
  margin: 0 auto;
}

.container{

  width: 80%;
  margin: 0 auto;
}

.top_info{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

p, li{
  max-width: none;
}

img.main_pic_rec{
  display:grid;
  height: 300px;
}

.title_recipes{
  width:auto;
  height: auto;
  padding: 35px;
  border-radius: 50%;
  margin: 0 auto;
  text-decoration: underline;
}

/* TRAVEL PAGE */
#main.travel_main{
  left: 0%;
}

.t_h2{
margin: 0 auto;
display: block;
width: 800px;
text-align: center;
}

.main_pt{
  float: none;
  display: block;
  margin: 0 auto;
}


/* photo gallery slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next and prev buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h1.travel_head{
  margin-top: 20px;
  margin-bottom: -30px;
}

.mySlides{
  display: grid;
}
.center_this img{
  margin: 0 auto;
  display: grid;
}

.center_this{
  width: 80%;
  margin: 0 auto;
  align-self: center;
}

/* .space_likes ul{
  padding-bottom: 20px;
} */

}
